

/* Estilos generales */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

@keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  /* LOGO CODELYN */
  .logo-codelyn{
    display: flex;
    width: 100px;
    justify-content: left;
    position: relative;
    bottom: 55px;
  }

  .logo-codelyn img{
    width: 300px;
    height: 130px;
  }

  .nav-menu{
    position: relative;
    right: 50px;
  }

  /* bloque de nav bar de usuarios logeados */
  .nav-menu-user{
    width: 100%;
    border-top:1px solid #373737;
  }

  .nav-menu-user ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 15px;
  }

  .nav-menu-user li{
    color: #009e7c;
    padding: 20px;
  }

  .nav-menu-user i{
    color: yellow;
  }

  .nav-menu-user .opc-user{
    cursor: pointer;
  }

  .nav-menu-user .opc-user-menu{
    background-color: #999898;
    display:block;
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .nav-menu-user .opc-user-menu li{
    color: black;
    font-size: 13px;
    text-align: center;
  }

  .nav-menu-user .opc-user-menu i{
    color: black;

  }

  .nav-menu-user .opc-user-menu .title-username{
    font-size: 18px;
    background-color: #009e7c;
  }

  .nav-menu-user .opc-user-menu .title-username:hover{
    cursor:help;
  }


  #title-level{
    color: #a50475;
    font-size: 14px;
  }

  #level{
    font-size: 14px;
  }
  
  /* Fin del bloque */

/* Carrusel */
.carrousel{
    margin-top: 18px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
.container-carrousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-carrousel .carrousel-item img{
    width: 100px;
    height: auto;
}

#btn-item{
    margin-top: 15px;
    background-color: #808282;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

#btn-item:hover{
    margin-top: 15px;
    background-color: #595959;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

/* Fin de carrusel */

/* Estilos de usuario identificado */
.menu .usuario{
    background-color: #009e7c;
    color: #a50475;
    width: 100%;
    border-radius: 15px;
}

/* Mnesajes emergentes */
[data-tooltip]{ 
    position:relative; 
    border-bottom: 1px dotted rgb(0, 238, 255);
    cursor:pointer;
    }
    [data-tooltip]::before {
    content : attr(data-tooltip);
    background-color:rgba(0, 0, 0, 0.75);
    color:rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    width:150px;
    padding:10px;
    height:auto;
    border-radius:3px;
    display:none;
    position:absolute;
    bottom:25px;
    left:calc(100% - 75%);
    pointer-events: none;
    z-index:99;
     }

    [data-tooltip]::after{
    content:"";
    height:1px;
    width:1px;
    border:10px solid transparent;
    border-top-color:rgba(0,0,0,.75);
    position:absolute;
    bottom:4px;
    left:50%;
    display: none;
    }
    [data-tooltip]:hover::before,
    [data-tooltip]:hover::after
    { display:block;} 

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 12px;
}

/* Botones */
#btn-velocidad{
    margin-top:35px;
    padding: 10px;
    font-size: 20px;
}


.icon-whatsapp{
    position:fixed;
    z-index: 100;
    right: 20px;
    top: 600px;
}

.icon-whatsapp img{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    box-shadow: rgba(0, 128, 85, 0.8) 0px 13px 27px -5px, rgba(0, 128, 85, 0.5) 0px 8px 16px -8px;
}

.icon-whatsapp img:hover{
    width: 80px;
    height: 80px;
    transition: 0.3s;
}

/* Estilos cabecera */
header{
    padding: 0 50px;
    background-color: #2b2b2b;
    justify-content: space-between;
}

.banner-inicio{
    background-image: url(../images/banner-codelyn.png);
    background-size: cover;
    background-attachment:fixed;
    height: 775px;
    text-align: center;
    background-position: center;
}

.banner{
    background-color: #2b2b2b;
    background-size: cover;
    background-attachment:fixed;
    height: 500px;
    text-align: center;
    background-position: center;
}

.banner-registro{
    background-image: url(../images/banner-registro.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.banner-portafolio{
    background-image: url(../images/banner-registro.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.banner-login{
    background-image: url(../images/banner-registro.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.banner-servicios{
    background-image: url(../images/banner-servicios.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.banner-cursos{
    background-image: url(../images/banner-cursos.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.banner-articulo{
    background-image: url(../images/banner-cursos.png);
    background-size: cover;
    height: 500px;
    background-attachment:fixed;
    text-align: center;
    background-position: center;
}

.content-banner{
    padding: 15px;
}

.content-banner .content-banner-descripcion-inicio{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    border-radius: 20px;
    height: auto;
    width: 600px;
}
.content-banner .content-banner-descripcion-inicio h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-weight: 300;
    color: #009e7c;
}
.content-banner .content-banner-descripcion-inicio h4{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

.content-banner .content-banner-descripcion-portafolio{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    border-radius: 20px;
    height: auto;
}
.content-banner .content-banner-descripcion-portafolio h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: #009e7c;
    font-size: 37px;
    font-weight: 300;
}
.content-banner .content-banner-descripcion-portafolio h4{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: white;
}

.content-banner .content-banner-descripcion-registro{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    height: auto;
}

.content-banner .content-banner-descripcion-servicios{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    height: auto;
}

.content-banner .content-banner-descripcion-articulo{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    height: auto;
}

.content-banner .content-banner-descripcion-login{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    height: auto;
}

.content-banner .content-banner-descripcion-cursos{
    background-color: rgb(43, 43, 43, 0.8);
    padding: 20px;
    height: auto;
}

.content-banner .content-banner-descripcion{
    padding: 20px;
    height: auto;
}


.content-banner .logotipo{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    display: flex;
}

.content-banner .descripcion{
    color: #ddd;
    font-size: 35px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}

.content-banner .logotipo-registro{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content-banner .logotipo-cursos{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content-banner .logotipo-articulo{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.content-banner .logotipo-login{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content-banner .logotipo-servicios{
    font-weight: lighter;
    color:#ddd;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content-banner .descripcion-registro{
    color: #a50475;
    font-size: 50px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}

.content-banner .descripcion-cursos{
    color: #a50475;
    font-size: 50px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}

.content-banner .descripcion-articulo{
    color: #009e7c;
    font-size: 25px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}

.content-banner .descripcion-login{
    color: #a50475;
    font-size: 50px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}

.content-banner .descripcion-servicios{
    color: #a50475;
    font-size: 50px;
    padding-bottom: 100px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
}



.content-banner .descripcion .full-stack{
    color: #a50475;
}

.content-banner .descripcion .signo1{
    color: #009e7c;
}

.content-banner .descripcion .signo2{
    color: #009e7c;
    border-right: .15em solid #c2c2c2;
    animation: blink 1s steps(1) infinite;
}


/* Estilos barra de navegacion */


.menu{
    text-align: center;
    width: 100%;
    height: 20px;
    padding: 50px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
}


.menu a{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #ddd;
    padding: 20px;
}

.menu #menu-inicio:active{
    color: red;
}

.esconder-menu,
.mostrar-menu{
    font-size: 30px;
    text-align:center;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}


.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    background:#7fffd4;
    box-shadow: 0px 0px 5px rgb(15, 15, 15) inset;
    color: black;
    transition: all 300ms;
}

#check{
    display:none;
}



/* Estilos contenido de articulos recientes */
.image-article{
    display: flex;
    position: relative;
    float: right;
    bottom: 250px;
}

.articulos-recientes{
    margin-top: 400px;
    height: 100%;
    background-color: #009e7c;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.articulos-recientes .articulos-recientes-titulo{
    background-color: rgb(43, 43, 43, 0.9);
    display: block;
    position: relative;
    bottom: 120px;
    width: 50%;
    border-radius: 20px;
    justify-content: center;
}

.articulos-recientes .articulos-recientes-titulo h1{
    width: 100%;
    font-size: 37px;
    color: #009e7c;
}
.articulos-recientes .articulos-recientes-titulo span{
    font-size: 25px;
    border-right: .1em solid #18BDEC;
    animation: blink 1s steps(1) infinite;
}
.articulos-recientes .articulos-recientes-titulo p{
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-align: justify;
    padding: 10px;
}

.articulos-recientes .content-articulos{
    text-align: justify;
    width: 980px;
    height: 100%;
}

.articulos-recientes .content-articulos .paginacion-articulos{
    margin: 40px;
    font-size: 20px ;
    padding: 12px;
}


.articulos-recientes .content-articulos .card-articulo{
    padding: 20px;
    background: floralwhite;
    margin-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    padding: 30px;
}

.articulos-recientes .content-articulos .card-articulo .card-info{
    width: 100%;
}


.articulos-recientes .content-articulos .card-articulo #fecha-publicado{
    font-size: 15px;
    color: #444;
}

.articulos-recientes .content-articulos .card-articulo #titulo-articulo{
    font-size: 35px;
    color: black;
    text-align: left;
}

.articulos-recientes .content-articulos .card-articulo #descripcion-articulo{
    font-size: 18px;
    color: black;
    width: 100%;
    padding-top: 12px;
}

.articulos-recientes .content-articulos .card-articulo #btn-vermas{
    padding: 7px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    position: relative;
    top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 8px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.articulos-recientes .content-articulos .card-articulo .card-img{
    display: flex;
    position: relative;
    float: right;
    bottom: 209px;
    left: 30px;
    border-radius: 20px;
    height: 239px;
    width: 301px
}

.articulos-recientes .content-articulos .card-articulo .card-img #imagen-articulo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Estilos contenido central */
.content{
    height: 100%;
    width: 100%;
    margin-bottom: 55px;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content .content-inicio{
    width: 100%;
    margin-top: 100px;
}

.content .content-img{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.content .content-info{
    margin-left: 100px;
    margin-top: 195px;
    font-size: 23px;
}

.content .content-info p{

}


.content .content-img .img-service{
    padding-top: 20px;
    height: 600px;
    width: 600px;
}

.content .content-img p{
    font-size: 19px;
    width: 600px;
    font-family: 'Inconsolata', monospace;
    
}

.content .title{
    color:#a50475;
    margin-bottom: 20px;
}

.content .bienvenido{
    color:#a50475;
    font-size: 30px;
}

.section-2{    
    margin-bottom: 150px;
    height: 440px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inconsolata', monospace;
    width: 100%; 
}


.section-2 #card-1{
    margin: 30px;
    border-radius: 20px;
    height: 150%;
    width: 270px;
    font-size: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section-2 #card-1:hover{
    box-shadow: rgba(0, 128, 85, 0.8) 0px 13px 27px -5px, rgba(0, 128, 85, 0.5) 0px 8px 16px -8px;
    height: 152%;
    width: 270px;
    transition: 0.3s;
}

.section-2 #card-1 img{
    width: 200px;
    height: 200px;
}

.section-2 #card-1 #img-hosting{
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.section-2 #card-1 h3{
    color: rgb(48, 48, 48);
    font-size: 20px;
    margin-top:20px;
    padding-bottom: 15px;
}


.section-2 #card-1 h4{
    font-size: 28px;
    color: #a50475;
    padding-bottom: 10px;
}

.section-2 #card-1 li{
    list-style: none;
    font-size: 22px;
    padding-bottom: 5px;
}

.section-2 #card-1 p{
    font-size: 23px;
    padding-bottom: 5px;
    padding: 20px 20px;
}

.section-2 #card-1 strong{
    color: #a50475;
    font-size: 22px;
}

.section-2 #card-1 #card-1-titulo{
    color:#a50475;

}

.sub-titulo{
    margin-bottom: 80px;
    padding: 30px;
    padding-bottom: 90px;
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    font-family: 'Inconsolata', monospace;
}

/* sesion de PORQUE ELEGIRNOS */
.titulo-elegirnos{
    margin-bottom: 40px;
}
.content-elegirnos{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.content-elegirnos .content-elegirnos-box{
    width: 300px;
    margin: 10px;
    padding: 60px;
    text-align: initial;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
}

.content-elegirnos .content-elegirnos-box:hover{
    background-color: #eeeeee;
    border-radius: 20px;
    cursor: pointer;
}

.content-elegirnos .content-elegirnos-box h3{
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.content-elegirnos .content-elegirnos-box p{
    font-size: 17px;
}

.content-elegirnos .content-elegirnos-box img{
    width: 100%;
    margin-top: 10px;
}
/* Fin de sesion de PORQUE ELEGIRNOS */


/* Linea blanca */
.line-blank{
    margin-top:40px;
    margin-bottom:40px;
    height: 100px;
}

/* Sesion de velocidad de sitios web */
.section-velocidad{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
}

.section-velocidad .section-velocidad-content{
    padding: 50px 50px;
    margin: 40px 40px;
}

.section-velocidad .section-velocidad-content p{
    padding-top: 20px;
    font-size: 18px;
}

.section-velocidad .section-velocidad-imagen{
    position: relative;
    top: 75px;
}

#btn-prueba{
    padding: 7px;
    width: 200px;
    height: 40px;
    position: relative;
    top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 8px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.section-velocidad .section-velocidad-imagen img{
    width: 100%;
}

/* Fin de sesion de velocida de carga */

.section-3{
    background-color: #2b2b2b;
    height: 100%;
    box-shadow: rgba(0, 128, 85, 0.8) 0px 13px 27px -5px, rgba(0, 128, 85, 0.5) 0px 8px 16px -8px;
    border-radius: 20px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin-bottom: 115px;
    padding-bottom: 2px;
}

.section-3 h1{
    padding-top: 60px;
    color:#ffffff;
    padding-bottom:30px;
}

.section-3 p{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 50px;
}

.section-3 #section-3-perfil{
    width: 230px;
    height: 200px;
    margin-bottom: 40px;    
}

.section-3 #section-3-visitar{
    color: #a50475;
    font-size: 25px;
    text-transform: none;
}

.section-3 a:link{
   color: #a50475;
}

.section-3 a:active{
    text-decoration: none;
}

.section-3 a:hover{
    color: #00c78b;
    font-size: 28px;
    transition: 0.4s;
}

.section-3 a:visited {
    color: #00c78b;
  }

.content-lenguage{
    background: #2b2b2b;
    display: block;
    white-space: normal;
    height: 150px;
    margin: 0 auto;
    width: 1100px;
}

.content-proyect{
    width: 510px;
    padding-top: 70px;
    margin:15px;
    padding-left: 140px;
    box-shadow: 0px 0px 5px #444 inset;
    font-family: 'Inconsolata', monospace;
}

.content-proyect ul{
    list-style: none;
}

.content-proyect h2{
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    padding-bottom: 40px;
}

.content-proyect h3{
    font-size: 25px;
    padding-bottom: 4px;
}

.content-proyect #online{
    background: #e0e0e0;
    font-size: 15px;
    margin-left: 23px;
}

.content-proyect #online #circle{
    background: #02cf46;
    border-radius: 20px;
    height:2px;
    width:2px;
}

.content-proyect p{
    font-size:20px;
    padding-bottom: 4px;
}

.content-proyect #date{
    font-size: 13px;
    color: #a50475;
    border-right: .15em solid #c2c2c2;
    animation: blink 1s steps(1) infinite;
}

.content-proyect #btn-vermas{
    background: #00c78b;
    border-radius: 12px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.content-proyect .space-white{
    padding-bottom: 40px;
}


.content-social{
    padding-top: 40px;
    margin: 0 auto;
    justify-content: space-between;
    background-position: center;
    width: 700px;
    height: 124px;
    position: relative;
    margin-bottom: -80px;
    text-align: center;
    box-shadow: rgba(0, 128, 85, 0.8) 0px 13px 27px -5px, rgba(0, 128, 85, 0.5) 0px 8px 16px -8px;
    background-color: #00c78b;
    border-radius: 25px;
    font-family: 'Inconsolata', monospace;
    
}

.section-social .content-social .link-redes{
    display: contents;
}

.section-social .content-social img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: rgba(50, 50, 93, 0.75) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section-social .content-social img:hover{
    width: 95px;
    height: 95px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(202, 0, 118, 0.75) 0px 13px 27px -5px, rgba(202, 0, 135, 0.3) 0px 8px 16px -8px;
}

.section-social .content-social #content-social-sigueme{
    background: #2b2b2b;
    width: 264px;
    color: #e0e0e0;
    display: block;
    top: -24px;
    border-radius: 20px;
    position: absolute;
    margin-bottom:40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.section-social .content-social #content-social-sigueme h3{
    font-size: 23px;
    font-family: 'Inconsolata', monospace;
}


footer{
    width: 100%;
    background-color: #2b2b2b;
    text-align: center;
    height: 100%;
    font-size: 16px;
    color: white;
    font-family: 'Inconsolata', monospace;
    box-shadow: rgb(255 0 224 / 32%) -1px -3px 4px 0px, rgb(255 0 224 / 32%) 0px 2px 16px 0px;
}

.footer-message{
    color: #ffffff;
    padding-top: 140px;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

.footer-message .copyRight{
    color:#a50475;
    font-size: 30px;
    border-right: .10em solid #c2c2c2;
    animation: blink 1s steps(1) infinite;
}


/* RESPONSIVE */


@media only screen and (min-width: 400px) and (max-width: 760px){

    /* HEADER */
    .mostrar-menu,
    .esconder-menu{
        font-size: 70px;
        color: #7fffd4;
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2b2b2b;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;        
    }
    #check:checked ~ .menu{
        right: 0;
    }
    
    /* Banner */
    .banner-articulo {
        width: 100%;
    }

    .banner-registro{
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .content-banner .content-banner-descripcion-articulo {
        background-color: transparent;
    }

    .content-banner .content-banner-descripcion-inicio {
        width: 90%;
    }
    /* Banner Articulo */
    .content-banner .descripcion-articulo{
        font-size: 15px;
    }

    .content-banner .logotipo-registro {
        font-size: 30px ;
    }

    .content-banner .descripcion-registro {
        font-size: 30px;
    }

    /* Info inicial */
    .content .content-img {
        display: block;
    }
    .content .content-info {
        width: 100%;
        margin-left: 0;
        margin-top: 65px;
        font-size: 20px;
    }
    .content .content-img p {
        width: 100%;
    }
    /* Fin de sesion */

    /* Sesion Por que elegirnos */
    .content-elegirnos {
        display: block;
    }

    .content-elegirnos .content-elegirnos-box {
        width: 65%;
        margin: 0 auto;
        margin-bottom: 35px;
        padding: 60px;
    }
    /* Fin de sesion */

    /* CONTENIDO PAGINA INICIO */

    /* sesion de articulos */
    .image-article {
        float: none;
    }
    .image-article img{
        display: block;
    }
    .image-article img{
        width: 100%;
    }
    .articulos-recientes .articulos-recientes-titulo{
        width: 100%;
        display: block;
    }

    .articulos-recientes .articulos-recientes-titulo h1{
        padding: 0;
    }

    .articulos-recientes .articulos-recientes-titulo p{
        padding: 20px;
    }

    .content .content-img .img-service{
        width: 100%;
        height: 100%;
    }

    #title-article{
        padding: 40px;
    }

    .articulos-recientes .content-articulos {
        width: 100%;
    }


    .articulos-recientes .content-articulos .card-articulo .card-img {
        display: none;
    }

    .articulos-recientes{
        margin-bottom: 100px;
    }

    .section-velocidad{
        display: block;
    }

    .section-velocidad .section-velocidad-content{
        padding: 0;
    }

    .section-velocidad .section-velocidad-imagen {
        width: 100%;
    }

    #btn-prueba{
        margin-top: 30px;
    }

    .section-velocidad .section-velocidad-imagen img{
        width: 100%;
        position: relative;
        bottom: 83px;
    }

    .section-velocidad .section-velocidad-imagen img{
        width: 100%;
    }
    /* FIN DE CONTENIDO  */

    /* Contenido Social */
    .section-social{
        width: 100%;
        margin: 0 auto;
    }

    .section-social .content-social{
        width: 100%;
        display: block;
    }

    .section-social .content-social .logo-redes{
        display: flex;
        justify-content: center;
    }

    .section-social .content-social .logo-redes .link-redes img{
        height: auto;
        margin: 15px;
    }

    .section-3{
        justify-content: center;
    }

    .section-3 .parrafo-github{
        margin-left: 35px;
        margin-right: 35px;
        text-align: justify;
    }

    .icon-whatsapp{
        position: fixed;
        z-index: 100;
        right: 20px;
        top: 580px;
    }

    .logo-codelyn{
        display: contents;
    }

    .logo-codelyn img{
        width: 30%;
    }



}