{% extends 'layout.html' %}
{% load static %}

{% block title %}
   {{articulo.title}} | Codelyn
{% endblock %}

{% block content %}
{% comment %} Banner de articulo {% endcomment %}
<section class="banner-articulo">
    <div class="content-banner">
        <div class="content-banner-descripcion-articulo">
            <h1 class="logotipo-articulo">{{articulo.title}}</h1> 
            <p class="descripcion-articulo"><span class="signo1">{</span>Posteado por: <span class="full-stack">{{articulo.user}}</span> el <span class="signo2">{{articulo.created_at}} }</span></p>
        </div>
    </div>
</section>
{% comment %} fin del banner {% endcomment %}

{% comment %} Mensaje Flash personalizado {% endcomment %}
{% if messages %}
{% comment %} Mensaje flash que solo dura 1 actualizacion {% endcomment %}
{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="message-error-registro">                    
            <p> <i id="terminal-error-registro" class="fa-solid fa-triangle-exclamation fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i> {{message}} <i id="terminal-error" class="fa-solid fa-triangle-exclamation fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i> </p>
        </div>
        {% else %}
        <div class="message-success">                        
            <p> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>{{message}}</p>
        </div>
    {% endif %}
{% endfor %}                   
{% endif %}
{% comment %} Cierre de mensaje flash {% endcomment %}


<article class="content-articulo">
    {% comment %} <h1>{{articulo.title}}</h1> {% endcomment %}
    <p id="info-articulo">{{articulo.content|safe}}</p>
</article>

<div class="comentarios">
    <h2>Comentarios</h2>
    <a id="btn-add"><i class="fa-solid fa-comments"></i> Agregar Comentario </a>
    <div class="content-agregar-comentario">
        <form class="form-comentario" action="" method="POST">
            <!-- Llave CSRF token -->
            {% csrf_token %}
            {% comment %} <span>Comentario</span><textarea class="input-comentario"></textarea> {% endcomment %}
            {{formComentario.as_p}}
            {% if request.user.first_name %}
                <input type="submit" id="btn-sesion-comentario">
            {% else %}
                <a href="{% url 'login' %}" id="btn-sesion-comentario"><i class="fa-solid fa-user"></i> Iniciar sesion para publicar </a>
            {% endif %}
        </form>
    </div>

    {% comment %} sesion de comentarios {% endcomment %}
        {% for comentario in comentarios %}
            <div class="content-comentario" id="commit">
                <div class="content-comentario-nombre">
                    <p>{{comentario.user}}:</p>
                </div>
                <div class="content-comentario-comentario">
                    <p>{{comentario.comentario}}</p>
                        <div class="content-respuestas">

                            <div class="content-responder">
                                <a id="btn-responder" class="btn-responder-{{comentario.id}}"><h5>Responder</h5></a>
                                <a id="btn-responder-close" class="btn-responder-close-{{comentario.id}}"><h5> Cerrar X</h5></a>
                                <div class="content-form-responder-{{comentario.id}}">
                                    <form id="formCreacion" action="" method="POST">
                                        {% csrf_token %}
                                        {% for field in formRespuesta %}
                                            <p id="{{field.label}}-{{comentario.id}}">{{field.label_tag}} {{field}}</p>
                                        {% endfor %}
                                        {% if request.user.first_name %}
                                            <input type="submit" id="btn-sesion-comentario-enviar" value="Enviar" />
                                        {% else %}
                                            <a href="{% url 'login' %}" id="btn-sesion-comentario"><i class="fa-solid fa-user"></i> Iniciar sesion para publicar </a>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>

                            <details class="detalles">
                                <summary id="detalle-respuesta" class="detalle-respuesta-{{comentario.id}}">Comentarios</summary>
                                {% for respuesta in respuestas %}
                                {% if respuesta.comment_id == comentario.id %}
                                    <div class="content-respuesta-comentario">
                                        <p class="respuesta"><span id="usuario-respuesta">{{respuesta.user.username}}: </span>{{respuesta.respuesta}}</p>
                                    </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </details>

                            
                        </div>
                </div>
                
                <div class="content-reaccion">
                    <div class="reaccion-like">
                        <i id="like" class="fa-solid fa-thumbs-up"></i>
                        <p>0</p>
                    </div>

                    <div class="reaccion-comentar">
                        <i id="comentar" class="fa-solid fa-comment-dots"></i>
                        <p class="num-res-{{comentario.id}}">0</p>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    {% comment %} Fin de sesion {% endcomment %}
</div>
<script type="text/javascript" src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(()=>{
        var cont = 0;
        var it = 0;
        $('.content-agregar-comentario').hide();
        $('.comment').hide();
        $('#Comentario-label').hide();
        $('.comentarioP').hide();
        
        
        // Esconder botones de responder, contenido de respuesta y comentarios
        {% for comentario in comentarios %}
            $('.btn-responder-close-{{comentario.id}}').hide();
            $('.content-form-responder-{{comentario.id}}').hide();
            $('#Comentario-{{comentario.id}}').hide();
        {% endfor %}

        // Agregar un comentario
        $('#btn-add').click(function(){
            $('label').hide();
            $('.content-agregar-comentario').show();
            $('#btn-add').hide();
        });

        // Agregar una respuesta
        {% for comentario in comentarios %}
            $('.btn-responder-{{comentario.id}}').click(function (){
                
                $('.btn-responder-{{comentario.id}}').hide();
                $('.btn-responder-close-{{comentario.id}}').show();
                $('.content-form-responder-{{comentario.id}}').fadeIn(400);
                $('.detalles').hide();
                $('#Com-{{comentario.id}}').hide();
                $('.comentarioP').val("{{comentario.id}}")
                $('label').hide()
            });
        {% endfor %}
        // Accion para cerrar contenedor de respuesta
        {% for comentario in comentarios %}
            $('.btn-responder-close-{{comentario.id}}').click(function (){
                $('.detalles').show();
                $('.btn-responder-{{comentario.id}}').show();
                $('.btn-responder-close-{{comentario.id}}').hide();
                $('.content-form-responder-{{comentario.id}}').hide();
            });
        {% endfor %}

        
        {% for comentario in comentarios %}
        $('.detalle-respuesta-{{comentario.id}}').click(function (){  
            if ($('.btn-responder-{{comentario.id}}').is(':visible')){
            $('.btn-responder-{{comentario.id}}').hide();
            }else{
                $('.btn-responder-{{comentario.id}}').show(); 
            }
        })
        {% endfor %}

        
        
        
    });
</script>



{% endblock %}