
{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}


    {% block content %}

        

    
        <div class="content-img">
            <h1 class="title">
                <span class="bienvenido">{Es un honor tenerte por mi web}</span>               
            </h1>  
            <p>te mostrare todo lo que estas buscando.</p>
            
            <img src="../static/images/designer.jpg" class="img-service" alt="">
                 
        </div>     

        <h2 class="sub-titulo">Desarrollos web<h2>
            
        <section class="section-2">
                {% comment %} <img src="../static/images/post2.jpg" class="img-service" alt=""> {% endcomment %}
                <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Alojamientos y URL <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/www.jpg" alt="">
                    <h4>Hosting y Dominios</h4>
                    <p>Optimizacion e indexacion del sitio web con la mejor calidad</p>
                    <img src="../static/images/Hostinger_Logotype.png"  id="img-hosting" alt="">                                            
               </div>  
               <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Web a medidas <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/optimizacion.jpg"  alt="">
                    <h4>Lenguajes</h4>
                    <ul class="list-unstyled">
                        <li>Html</li>
                        <li>Css</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <span><li>Python</li></span>
                    </ul>
               </div>  

               <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Interacciones Cliente <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/cliente.jpg" alt="">
                    <h4>Chat directo</h4>
                    <p>Reuniones, chat directos con el cliente abarcando todas las ideas y requerimientos sin moverte de tu comodidad.</p>
                </div> 
                
                <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Diseño <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/cliente.jpg" alt="">
                    <h4>Diseños modernos</h4>
                    <p>Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones bien pensadas..</p>
                    <strong>Herramientas:</strong>
                    <p>Font Awesome, Figma</p>
                </div> 
        </section>

        <section class="section-velocidad">
            <div class="section-velocidad-content">
                <h2>La velocidad es importante</h2>
                <p>la experiencia obtenida en tu sitio web en gran parte la hace la velocidad de carga entre contenidos.</p>
                <button id="btn"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Has tu prueba...</button>
            </div>
            <div class="section-velocidad-imagen">
                <img src="../static/images/speed.png" alt="">
            </div>

        </section>

        <section class="section-3">
            <h1>Mis Proyectos</h1>
            <p>Suelo desarrollar web de manera que el cliente logre comprender todo lo que observa,
                me gusta desarrollar aplicaciones minimalistas con codigo limpio y entornos dinamicos
                sin sobrecargar la web.
            </p>
            <img id="section-3-perfil" src="../static/images/github.png" alt="">
            <p>Mira mis proyectos en mi perfil de GitHub : <span id="section-3-visitar">{</span> <a href="#">  Visitar <span id="section-3-visitar">}</span></a></p>
        </section>
        
        {% comment %} <div class="content-proyect">
           <h2> Proyectos destacados </h2>
           {% for proyecto in proyectos %}
           <ul class="nav justify-content-center  ">
               <li class="nav-item">
                   <h3>{{proyecto.name}}<strong id="online"><span id="circle"> </span>Online</strong></h3>
                    <p id="lenguage"> Lenguaje: <span>{{proyecto.lenguage}}</span> </p>
                   <span id="date">{{proyecto.create_at}}</span>
                   <a name="" id="btn-vermas" class="btn btn-primary" href="" role="button">Ver mas</a>
               </li>
               <div class="space-white"></div>
           </ul>
           {% endfor %}
        </div> {% endcomment %}

        <a class="icon-whatsapp" href="" target="_blank">
            <img src="../static/images/chat-whatsapp.png" id="logo-whatsapp">
        </a>


    {% endblock %}
