{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_form.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_portafolio.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_cursos.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_sobremi.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_servicios.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_error.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_articulo.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_detalleCurso.css' %}">
     <!-- Our project just needs Font Awesome Free's Solid and Brand files -->
     <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>
        {% block title %}
                
        {% endblock %}
    </title>
    
</head>

<body>
    <!-- Cabecera de la pagina -->
    <header>
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <input type="checkbox" id="check">
        <!-- Nav bar -->            
        <nav class="menu">     
            {% for page  in pages reversed %} 
                {% if page.3 == True %}         
                    <a href="{% url 'page' page.2 %}"> {{page.1}} </a> 
                {% endif %}             
            {% endfor %}
            {% if request.user.first_name %}
                <a href="{% url 'registro' %}" style="display:none;"> Registrate </a>
                <a href="{% url 'login' %}" style="display:none;"> Login </a>
                <a class="usuario"> Bienvenid@, {{request.user.first_name}} </a>
                <a href="{% url 'logout' %}"> Cerrar sesion </a>
                <label for="check" class="esconder-menu">
            {% else %}
                <a href="{% url 'registro' %}"> Registrate </a>
                <a href="{% url 'login' %}"> Login </a>
            {% endif %}
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>            
    </header>

    {% comment %} Banner {% endcomment %}
    {% if page.slug == 'inicio' %}
        <section class="banner-inicio">
            <div class="content-banner">

                <div class="logo-codelyn">
                    <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
                </div>
                <div class="content-banner-descripcion-inicio">
                    <h1 class="logotipo">Sumergete en la tecnologia y los software, El mundo esta cambiando, no te quedes atras. adentrate en la hera digital!</h1> 
                    <p class="descripcion"><span class="signo1">{</span>Codelyn <span class="full-stack"> Lo hace realidad</span> <span class="signo2">}</span></p>
                </div>
            </div>
        </section>
    
    
    {% elif page.slug == 'sobre-mi' %}
        <section class="banner">
            <div class="content-banner">
                <div class="logo-codelyn">
                    <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
                </div>
                <div class="content-banner-descripcion">
                    <h1 class="logotipo">Jhonny Salcedo Llanos</h1> 
                    <p class="descripcion"><span class="signo1">{</span>Ingeniero de sistemas <span class="full-stack">Desarrollador web</span> front-end <span class="signo2">}</span></p>
                </div>
            </div>
        </section>
    

    {% elif page.slug == 'cursos' %}
        <section class="banner">
            <div class="content-banner">
                <div class="logo-codelyn">
                    <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
                </div>
                <h1 class="logotipo">Desarrollo web</h1> 
                <p class="descripcion"><span class="signo1">{</span>Cursos de desarrollo web  <span class="full-stack">HTML,CSS,JS,PYTHON</span> front-end y Backend<span class="signo2">}</span></p>
            </div>
        </section>
    

    {% elif page.slug == 'portafolio' %}
        <section class="banner">
            <div class="content-banner">
                <div class="logo-codelyn">
                    <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
                </div>
                <h1 class="logotipo">Portafolio de proyectos</h1> 
                <p class="descripcion"><span class="signo1">{</span>Diversos proyectos: <span class="full-stack">Django-Python , Laravel-PHP , WordPress</span> Web a medida y CMR<span class="signo2">}</span></p>
            </div>
        </section>
    

    {% elif page.slug == 'servicios' %}
        <section class="banner">
            <div class="content-banner">
                <div class="logo-codelyn">
                    <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
                </div>
                <h1 class="logotipo">Servicios en desarrollo web</h1> 
                <p class="descripcion"><span class="signo1">{</span>Potentes aplicaciones web <span class="full-stack">Diseños, Estructuras y mas</span> <span class="signo2">}</span></p>
            </div>
        </section>
    {% endif %}

    {% if articulo.id > 0 %}
    <section class="banner">
        <div class="content-banner">
            <div class="logo-codelyn">
                <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
            </div>
            <h1 class="logotipo">{{articulo.title}}</h1> 
            <p class="descripcion"><span class="signo1">{</span>Posteado por: <span class="full-stack">{{articulo.user}}</span> el <span class="signo2">{{articulo.created_at}} }</span></p>
        </div>
    </section>
    {% endif %}

    {% if curso.id > 0 %}
    <section class="banner-curso">
        <div class="content-banner-curso">
            <div class="logo-codelyn">
                <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
            </div>
            <h1 class="logotipo-curso">{{curso.title}}</h1> 
            <p class="descripcion-curso"><span class="signo1"></span><span class="full-stack">{{curso.description}}</span><span class="signo2">{{articulo.created_at}}</span></p>
        </div>
    </section>
    {% endif %}

        
    
    {% comment %} Fin del banner {% endcomment %}
   

    <div class="content">
            
            {% block content %}

            {% endblock %} 

    </div>
    

        <section class="section-social"> 
            <div class="content-social">
                <div id="content-social-sigueme">
                    <h3>Sigueme en mis redes sociales</h3>
                </div> 
                <div class="logo-redes">           
                    <div class="link-redes"><a href="https://www.facebook.com/profile.php?id=100085207243161" target="_blank"> <img id="logo-facebook" src="../static/images/facebook.png" alt=""> </a> </div>
                    <div class="link-redes"><a href="https://www.linkedin.com/in/jhonny-salcedo-llanos-6b16a7232/" target="_blank"><img id="logo-instagram" src="../static/images/instagram.png" alt=""></a> </div>
                    <div class="link-redes"><a href="https://www.linkedin.com/in/jhonny-salcedo-llanos-6b16a7232/" target="_blank"><img id="logo-linkedin" src="../static/images/linkedin.png" alt=""></a>  </div>                      
                </div>
            </div>
        </section>

    


    <footer>        
        <p class="footer-message">  
            Todos los derechos reservados por Condelyn
            Desarrollado por: </br><span class="copyRight"> Codelyn&copy; </span>
        </p> 
    </footer>
    
</body>
</html>