{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_form.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_portafolio.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_cursos.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_sobremi.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_servicios.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_error.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_articulo.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/styles_detalleCurso.css' %}">

     <!-- Our project just needs Font Awesome Free's Solid and Brand files -->
     <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
     <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>
        {% block title %}
                
        {% endblock %}
    </title>
    
</head>

<body>
    <!-- Cabecera de la pagina -->
    <header>
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <input type="checkbox" id="check">
        <!-- Nav bar -->            
        <nav class="menu">  
            
            <div class="logo-codelyn">
                <img src="../static/images/logo-codelyn1.png" alt="logo-codelyn">
            </div>  
            <div class="nav-menu"> 
            {% for page  in pages reversed %} 
                {% if page.3 == True %}         
                    <a href="{% url 'page' page.2 %}"> {{page.1}} </a> 
                {% endif %}             
            {% endfor %}
            {% if request.user.username %}
            {% else %}
                <a href="{% url 'registro' %}"> Registrate </a>
                <a href="{% url 'login' %}"> Login </a>
            {% endif %}
                <label for="check" class="esconder-menu">
            <label for="check" class="esconder-menu">
                &#215
            </label>
            </div>
        </nav> 
        {% comment %} Bloque de validacion de usuario logeado {% endcomment %}
        {% if request.user.username %}
            <nav class="nav-menu-user">
                <ul>
                    <a href=""><li> <i class="fa-solid fa-person-chalkboard"></i> Mis Cursos</li></a>
                    <a href=""><li> <i class="fa-solid fa-heart-circle-check"></i> Mis Favoritos</li></a>
                    <a href=""><li> <i class="fa-solid fa-certificate"></i> Mis Certificados</li></a>
                        <a class="opc-user"> <li><i class="fa-solid fa-gears"> <i class="fa-solid fa-list"></i></i>
                            <ul class="opc-user-menu">
                                <a><li class="title-username">Hola! {{request.user.username}} <br> <span id="title-level">Tu nivel:</span> <span id="level">Plate</span></li></a>
                                <a href=""><li> <i class="fa-solid fa-id-card-clip"></i> Ver perfil</li></a>
                                <a href="{% url 'logout' %}"><li> <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion</li></a>
                            </ul>
                        </li></a>
                </ul>
            </nav> 
        {% endif %}          
    </header>

    {% comment %} Banner {% endcomment %}
    {% if page.slug == 'inicio' %}
        <section class="banner-inicio">
            <div class="content-banner">
                <div class="content-banner-descripcion-inicio">
                    <h1 class="logotipo">Desarrollo de paginas web y aplicaciones web.</h1>
                    <h4 class="logotipo">Sumergete en la tecnologia y los software, El mundo esta cambiando, no te quedes atras. adentrate en la hera digital!</h4> 
                </div>
            </div>
        </section>
    
    
    {% elif page.slug == 'sobre-mi' %}
        <section class="banner">
            <div class="content-banner">
                <div class="content-banner-descripcion">
                    <h1 class="logotipo">Jhonny Salcedo Llanos</h1>
                    <p class="descripcion"><span class="signo1">{</span>Ingeniero de sistemas <span class="full-stack">Desarrollador web</span> front-end <span class="signo2">}</span></p>
                </div>
            </div>
        </section>
    

    {% elif page.slug == 'cursos' %}
        <section class="banner-cursos">
            <div class="content-banner">
                <div class="content-banner-descripcion-cursos">
                    <h1 class="logotipo-cursos">Cursos de programacion</h1> 
                    <p class="descripcion-cursos"><span class="signo1">{</span>De la mejor calidad solo en codelyn <span class="signo2">}</span></p>
                </div>
            </div>
        </section>
    

    {% elif page.slug == 'portafolio' %}
        <section class="banner-portafolio">
            <div class="content-banner">
                <div class="content-banner-descripcion-portafolio">
                    <h1>Portafolio de proyectos.</h1>
                    <h4>Aplicativos web y paginas web desarrollados por nosotros</h4> 
                </div>
            </div>
        </section>
    

    {% elif page.slug == 'servicios' %}
        <section class="banner-servicios">
            <div class="content-banner">
                <div class="content-banner-descripcion-servicios">
                    <h1 class="logotipo-servicios">Servicios Codelyn</h1> 
                    <p class="descripcion-servicios"><span class="signo1">{</span>Especialistas en el desarrollo de entornos web <span class="signo2">}</span></p>
                </div>
            </div>
        </section>
    {% endif %}

    {% if articulo.id > 0 %}
    <section class="banner-articulo">
        <div class="content-banner">
            <div class="content-banner-descripcion-articulo">
                <h1 class="logotipo-articulo">{{articulo.title}}</h1> 
                <p class="descripcion-articulo"><span class="signo1">{</span>Posteado por: <span class="full-stack">{{articulo.user}}</span> el <span class="signo2">{{articulo.created_at}} }</span></p>
            </div>
        </div>
    </section>
    {% endif %}

    {% if curso.id > 0 %}
    <section class="banner-curso">
        <div class="content-banner-curso">
        </div>
    </section>
    {% endif %}

        
    
    {% comment %} Fin del banner {% endcomment %}
   

    <div class="content">
            
            {% block content %}

            {% endblock %} 

    </div>
    

        <section class="section-social"> 
            <div class="content-social">
                <div id="content-social-sigueme">
                    <h3>Siguenos en nuestras redes sociales</h3>
                </div> 
                <div class="logo-redes">           
                    <div class="link-redes"><a href="https://www.facebook.com/profile.php?id=100085207243161" target="_blank"> <img id="logo-facebook" src="../static/images/facebook.png" alt=""> </a> </div>
                    <div class="link-redes"><a href="https://www.linkedin.com/in/jhonny-salcedo-llanos-6b16a7232/" target="_blank"><img id="logo-instagram" src="../static/images/instagram.png" alt=""></a> </div>
                    <div class="link-redes"><a href="https://www.linkedin.com/in/jhonny-salcedo-llanos-6b16a7232/" target="_blank"><img id="logo-linkedin" src="../static/images/linkedin.png" alt=""></a>  </div>                      
                </div>
            </div>
        </section>

    


    <footer>        
        <p class="footer-message">  
            Todos los derechos reservados por Condelyn
            Desarrollado por: </br><span class="copyRight"> Codelyn&copy; </span>
        </p> 
    </footer>

<script type="text/javascript" src="{% static '../static/js/jquery-3.6.4.js' %}"></script>
<script>
    $(document).ready(()=>{
        $('.opc-user-menu').hide();
    });

    $('.opc-user').click(function(){
        $('.opc-user-menu').show()
    });
    $('html').click(function(){
        $('.opc-user-menu').hide();
    });
    $('.opc-user').click(function (e) {
        e.stopPropagation();
    });

    //Bloque colores por niveles
    var levelColor = $('#level').text();
        if (levelColor == 'Silver') {
            $('#level').css('color','#B87333');// Level Silver
        }else if(levelColor == 'Plate'){
            $('#level').css('color','#C0C0C0');// Level Plate
        }else if(levelColor == 'Gold'){
            $('#level').css('color','#b99d46');// Level Gold
        }else if(levelColor == 'Diamont'){
            $('#level').css('color','#a8f0e2');// Level Diamont
        }
    // Fin del bloque
</script>   

</body>
</html>