{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{page.title}}
{% endblock %}


{% block content %}


    {% comment %} Contenido de pagina de inicio {% endcomment %}
    {% if page.slug == "inicio" %}
            <div class="content-img">
                <h1 class="title">
                    <span class="bienvenido">{Es un honor tenerte por mi web}</span>               
                </h1>  
                <p>te mostrare todo lo que estas buscando.</p>
                
                <img src="../static/images/designer.jpg" class="img-service" alt="">              
            </div> 
        {% comment %} Articulos recientes {% endcomment %}
        <section class="articulos-recientes">
            <h1>Ultimos articulos</h1>
            <div class="content-articulos"> 
                    {% comment %} Paginacion de articulos {% endcomment %}
                    <div class="paginacion-articulos">
                        <span>
                            {% if  articulos.has_previous %}
                                <a href="?page=1">&laquo; Primero</a>
                                <a href="?page{{  articulos.previous_page_number }}">Anterior</a>
                            {% endif %}
                            <span class="current">
                                Pagina {{  articulos.number }} de {{  articulos.paginator.num_pages }}.
                            </span>
                            {% if  articulos.has_next %}
                                <a href="?page={{  articulos.next_page_number }}">Siguiente</a>
                                <a href="?page={{  articulos.paginator.num_pages }}">Ultima &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    {% comment %} Fin de paginacion de articulos {% endcomment %}

                {% for articulo in articulos %}  
                    {% if articulo.public == 1 %}
                        <div class="card-articulo">
                            <div class="card-info">
                                <h1 id="titulo-articulo">{{articulo.title}}</h1>
                                <p><span id="fecha-publicado"><strong>Publicado:</strong> {{articulo.created_at}}</span></p>
                                <p id="descripcion-articulo">{{articulo.description|safe}}</p>
                                <a href="{% url 'articulo' articulo.id %}"> <button id="btn-vermas"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Ver mas...</button></a>
                            </div>
                            <div class="card-img">
                                <img id="imagen-articulo" src="{{articulo.image.url}}" alt="{{articulo.title}}">  
                            </div>
                        </div>
                    {% endif %}                
                    {% empty %}
                    <h2>No se encontraron articulos</h2>
                {% endfor %}

                {% comment %} Paginacion de articulos {% endcomment %}
                <div class="paginacion-articulos">
                    <span>
                        {% if  articulos.has_previous %}
                            <a href="?page=1">&laquo; Primero</a>
                            <a href="?page{{  articulos.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="current">
                            Pagina {{  articulos.number }} de {{  articulos.paginator.num_pages }}.
                        </span>
                        {% if  articulos.has_next %}
                            <a href="?page={{  articulos.next_page_number }}">Siguiente</a>
                            <a href="?page={{  articulos.paginator.num_pages }}">Ultima &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% comment %} Fin de paginacion de articulos {% endcomment %}
            </div>
            
            
        </section>
        {% comment %} Fin del bloque de articulos recientes {% endcomment %}

        {% comment %} Bloque de Velocidad de carga {% endcomment %}
        <section class="section-velocidad">
            <div class="section-velocidad-content">
                <h2>La velocidad es importante</h2>
                <p>la experiencia obtenida en tu sitio web en gran parte la hace la velocidad de carga entre contenidos.</p>
                <a href="https://pagespeed.web.dev/" target="_blank"> <button id="btn"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Has tu prueba...</button></a>
            </div>
            <div class="section-velocidad-imagen">
                <img src="../static/images/speed.png" alt="">
            </div>
        </section>
        {% comment %} Fin del bloque de velocidad de carga {% endcomment %}

        {% comment %} Bloque de GITHUB {% endcomment %}
        <section class="section-3">
            <h1>Mis Proyectos</h1>
            <p>Suelo desarrollar web de manera que el cliente logre comprender todo lo que observa,
                me gusta desarrollar aplicaciones minimalistas con codigo limpio y entornos dinamicos
                sin sobrecargar la web.
            </p>
            <img id="section-3-perfil" src="../static/images/github.png" alt="">
            <p>Mira mis proyectos en mi perfil de GitHub : <span id="section-3-visitar">{</span> <a href="https://github.com/Jsalcedollanos" target="_blank">  Visitar <span id="section-3-visitar">}</span></a></p>
        </section>
        {% comment %} Fin del bloque de GITHUB {% endcomment %}

        <a class="icon-whatsapp" href="https://wa.me/qr/4THERHW3LVIBE1" target="_blank">
            <img src="../static/images/chat-whatsapp.png" id="logo-whatsapp">
        </a>

    {% endif %}
{% comment %} fin del contenido de pagina de inicio {% endcomment %}


{% comment %} 
    Contenido de Portafolio, solo cargara si es un portafolio
{% endcomment %}  
    
    {% if page.slug == 'portafolio' %}   
    {% include 'paginacion.html' %}
        <div class="portafolio">
        </div> 
        
        <div class="card_proyect">
            {% for proyecto in proyectos %}
                                       
                    <div class="card_proyect_content"> 
                        <img src="{{proyecto.image.url}}" alt="{{proyecto.title}}">    
                        <div class="card_proyect_info">
                            {% if proyecto.status == 1 %}
                                    <div class="content_online"><span data-tooltip="Servicio Online" id="online">Online</span></div>
                                {% else %}
                                    <div class="content_offline"><span data-tooltip="Servicio Offline" id="offline">Offline</span></div>
                            {% endif %}
                             <h1>{{proyecto.name}}</h1>   
                                <span id="card_proyect_lenguage">
                                    {% if proyecto.lenguage == 'Wordpress' %}
                                            CRM: {{lenguaje.Wordpress|safe}}
                                    {% endif %}
                       
                                    {% if proyecto.lenguage == 'PHP' %}
                                        Lenguaje: {{lenguaje.PHP|safe}}
                                    {% endif %}

                                    {% if proyecto.lenguage == "Python" %}
                                        Lenguaje: {{lenguaje.Python|safe}}
                                    {% endif %}                                  
                                </span>
                            
                            <p id="card_proyect_description">{{proyecto.description|safe}}</p>
                            {% if proyecto.progress == 1 %}
                                <p id="progreso">Progreso: <span>Completado</span> </p>
                            {% else %}
                                <p id="progreso">Progreso: <span>En proceso</span> </p>
                            {% endif %}                            
                            <p id="card_proyect_date_dev">Desarrollador: {{proyecto.user}}</p>
                            <p id="card_proyect_date">Publicado: {{proyecto.created_at}}</p>
                            {% if proyecto.slug == null %}
                                <a id="btn-off" href="{{proyecto.slug}}" target="_blank"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Visitarrr</a>
                            {% else %}
                                <a id="btn-visitar" href="{{proyecto.slug}}" target="_blank"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Visitar</a>
                            {% endif %}                                                    
                        </div>                          
                    </div>      
               
            {% endfor %} 
            {% include 'paginacion.html' %}
            
        </div>    
    
        
    {% endif %}
{% comment %} Fin de validacion de portafolio {% endcomment %}


{% comment %} Bloque de servicios {% endcomment %}
        {% if page.slug == 'servicios' %}
            <section class="min-info">
                <div class="mini-menu">
                    <i id="min-icon" class="fa-sharp fa-solid fa-shield-halved fa-beat" style="--fa-animation-duration: 0.5s;"></i>
                    <h3>Proteccion de tu sitio web<h3>
                </div>
                <div class="mini-menu">
                    <i id="min-icon" class="fa-solid fa-cog fa-spin" style="--fa-animation-duration: 2s;"></i>
                    <h3>La mejor configuracion<h3>
                </div>
                <div class="mini-menu">
                    <i id="min-icon" class="fa-sharp fa-solid fa-shop fa-flip" style="--fa-animation-duration: 2s;"></i>
                    <h3>Tienda virtual moderna<h3>
                </div>
                <div class="mini-menu">
                    <i id="min-icon" class="fa-sharp fa-solid fa-palette fa-flip" style="--fa-animation-duration: 2s;"></i>
                    <h3>Diseños modernos<h3>
                </div>
            </section>
            <div class="titulo">
                {% comment %} <p>{{page.content|safe}}</p> {% endcomment %}
            </div> 

        {% comment %} Bloque de diseño web {% endcomment %}
        <h2 class="sub-titulo">¿Como lo hago?<h2>        
        <section class="section-2">
                {% comment %} <img src="../static/images/post2.jpg" class="img-service" alt=""> {% endcomment %}
                <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Alojamientos y URL <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/www.jpg" alt="">
                    <h4>Hosting y Dominios</h4>
                    <p>Optimizacion e indexacion del sitio web con la mejor calidad</p>
                    <img src="../static/images/Hostinger_Logotype.png"  id="img-hosting" alt="">                                            
               </div>  
               <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Web a medidas <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/optimizacion.jpg"  alt="">
                    <h4>Lenguajes</h4>
                    <ul class="list-unstyled">
                        <li>Html</li>
                        <li>Css</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <span><li>Python</li></span>
                    </ul>
               </div>  
    
               <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Interacciones Cliente <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/cliente.jpg" alt="">
                    <h4>Chat directo</h4>
                    <p>Reuniones, chat directos con el cliente abarcando todas las ideas y requerimientos sin moverte de tu comodidad.</p>
                </div> 
                
                <div id="card-1">
                    <h3><span id="card-1-titulo">{</span> Diseño <span id="card-1-titulo">}</span></h3>
                    <img src="../static/images/cliente.jpg" alt="">
                    <h4>Diseños modernos</h4>
                    <p>Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones bien pensadas..</p>
                    <strong>Herramientas:</strong>
                    <p>Font Awesome, Figma</p>
                </div> 
        </section>
    
        <div class="line-blank"></div>

        {% comment %} Bloque de servicios prestados {% endcomment %}
        <h1>Servicios y desarrollos web</h1>
        <section class="servicios">
            {% for servicio in servicios %}
            <div class="content-servicio">                   
                <div class="content-servicio-titulo">
                    <h2><span>{<span>{{servicio.name}}<span>}</span></h2>{% comment %} <span id="etiqueta" class="fa-fade">Profesional</span> {% endcomment %}
                </div>
                <div class="content-servicio-info">
                    <p class="content-servicio-descripcion">{{servicio.description}}</p>
                    <p id="content-servicio-subservicios">{{servicio.subservices|safe}}</p>
                </div>
                <div class="space-line"></div>
                <button id="btn"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Solicitar</button>
            </div>
            {% endfor %}
        </section>
    {% endif %}
{% comment %} Fin del Bloque de servicios {% endcomment %}


{% comment %} Bloque de cursos {% endcomment %}
        {% if page.slug == 'cursos' %}

            <section class="section-cursos">
                    {% comment %} Card de curso {% endcomment %}
                    {% for curso in cursos %}
                        {% if curso.status == 0 %}
                            <div class="card-curso-agotado" style="display:block;"><span id="etiqueta">Agotado</span>
                                <div id="content-curso">
                                    <h3><span id="card-1-titulo">{</span> {{curso.title}} <span id="card-1-titulo">}</span></h3>
                                    {% comment %} <img src="../static/images/www.jpg" alt=""> {% endcomment %}
                                    <h4>Descripcion</h4>
                                    <p>{{curso.description|safe}}</p>
                                </div>
                                
                                <div id="section-curso-img">
                                    <img src="{{curso.image.url}}" alt="">
                                </div>                                                                      
                            </div>  

                            {% else %}
                            <div class="card-curso"><span id="etiqueta">Free</span>
                                <div id="content-curso">
                                    <h3><span id="card-1-titulo">{</span> {{curso.title}} <span id="card-1-titulo">}</span></h3>
                                    {% comment %} <img src="../static/images/www.jpg" alt=""> {% endcomment %}
                                    <h4>Descripcion</h4>
                                    <p>{{curso.description|safe}}</p>
                                    
                                </div>                                
                                <div id="section-curso-img">
                                    <img src="{{curso.image.url}}" alt="">
                                </div>  
                              <a href="{% url 'curso_detail' curso.id %}">  <button id="btn-empezar"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Empezar</button> </a>                                                                
                            </div>
                        {% endif %}

                        {% comment %} Validacion de lista vacia {% endcomment %}
                        {% empty %}
                        <div class="error-cursos">
                            <p>Upps... Lo siento, en el momento me encuentro desarrollando cursos de forma gratuita para tu formacion...</p>
                        </div> 
                        <img src="../static/images/construccion2.png">
                        {% comment %} Fin de validacion {% endcomment %}
                    {% endfor %} 
                             
                </section>
        {% endif %}
{% comment %} Fin de bloque de cursos {% endcomment %}


{% comment %} Bloque de pagina SOBRE MI {% endcomment %}
    {% if page.slug == "sobre-mi" %}    
        {% if messages %}
            {% comment %} Mensaje flash que solo dura 1 actualizacion {% endcomment %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="message-error">                    
                        <p> <i id="terminal-error" class="fa-solid fa-triangle-exclamation fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i> {{message}} <i id="terminal-error" class="fa-solid fa-triangle-exclamation fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i> </p>
                    </div>
                    {% else %}
                    <div class="message">                        
                        <p> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>{{message}}</p>
                    </div>
                {% endif %}
            {% endfor %}                   
        {% endif %}

        <section class="section-sobremi">   
            {% for perfil in perfiles %}         
                <div class="content-perfil">
                    <div class="content-perfil-banner">
                        <img id="banner-perfil" src="../static/images/banner-perfil.png" alt="">
                    </div>
                    
                    <div class="content-perfil-imagen">
                        <img id="imagen-perfil" src="{{perfil.image.url}}" alt="">
                        <p id="name"><strong>{{perfil.name}} {{perfil.lastname}}</strong></p>
                        <p id="title"><span>{</span> {{perfil.title}} <span>}</span></p>
                        <p id="dev">Desarrollador web</p>
                    </div>
                    <div class="content-perfil-sobremi">
                        <div class="content-perfil-sobremi-info">
                            <div class="redes-sociales">
                                <h2>Redes sociales</h2>
                                <div class="caja-redes"><img id="logo-facebook" src="../static/images/facebook.png" alt=""><a href="{{perfil.facebook}}" target="_blank">Facebook</a></div>
                                <div class="caja-redes"><img id="logo-facebook" src="../static/images/instagram.png" alt=""><a href="{{perfil.instagram}}" target="_blank">Instagram</a></div>
                                <div class="caja-redes"><img id="logo-facebook" src="../static/images/github.png" alt=""><a href="{{perfil.github}}" target="_blank">Github</a></div>
                                <div class="caja-redes"><img id="logo-facebook" src="../static/images/linkedin.png" alt=""><a href="{{perfil.linkedin}}" target="_blank">Linkedin</a></div>
                            </div>
                            <p>{{perfil.description|safe}}</p>
                            <h2> Diplomas </h2>
                            <ul> <li><p id="diplomas">{{perfil.diplomas|safe}}</p></li> </ul> 
                            <h2>Habilidades y mas</h2>
                            <ul> <li><p id="skills">{{perfil.skills|safe}}</p></li> </ul>                            
                        </div>
                    </div>
                    
                    {% comment %}<div class="content-perfil-sobremi-post">
                        <h2>Proyectos destacados</h2>
                        <ul>
                            {% for proyecto in proyectos %}
                                <li>
                                    {% if proyecto.progress == True %}
                                        <h3>{{proyecto.name}}</h3> <span id="titulo-estado">Estado:</span> <span id="estado-completado">Completado</span>
                                    {% else %}
                                        <h3>{{proyecto.name}}</h3> <span id="estado-completado">En Proceso.</span>
                                    {% endif %}                                    
                                </br>
                                    <span id="date">{{proyecto.created_at}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> {% endcomment %}
                </div> 

                {% comment %} Caja de formulario {% endcomment %}
                <div class="section-form">
                    <div class="contact-form">                              
                        <form action="" method="POST">                       
                            <h3>Regalame tus datos y pronto te llamare<h3>
                            {% comment %} Mensaje de error {% endcomment %}
                            {% if form.errors %}
                                <div class="content-error-form">
                                    <strong id="error-form">* Errores en el formulario corrigelos!</strong>
                                </div>
                            {% endif %} 
                            {% comment %} Llave Csrf {% endcomment %}
                            {% csrf_token %}
                            {{form.as_p}}
                            <button id="btn-guardar"> <i id="terminal" class="fa-solid fa-terminal fa-fade"  style="--fa-animation-duration: 1s; --fa-fade-opacity: 0.2;"></i>Guardar</button>
                        </form>
                        {% comment %} Fin {% endcomment %}
                    </div>
                </div>
                {% comment %} Fin de la caja de formulario {% endcomment %}

            {% endfor %} 
                        
            
        </section>
        
    {% endif %}
{% comment %} Fin del bloque {% endcomment %}
{% endblock %}

